*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.landingpage{
    height: 800px;
    background: linear-gradient(135deg,white 45%,rgba(247,193,50) 55% ) 
    
}
.navbar{
    display: flex;
    justify-content: space-between;    
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}
.navbar ul li{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 150px;
}
.navbar ul{
    list-style: none;
    margin-right: 200px;
    
}
.logoname{
    font-size: 30px;
    padding-top: 10px;
}
#pin{
    color: rgb(247,193,50);
}
.logo{
    display: flex;
}
.welcomenote{
    margin-left: 100px;
    margin-top: 100px;
    /* margin: 100px; */
    /* padding: 100px */
}

.display{
    margin-left: 800px;
    margin-top: -220px;
}
.pic{
    height: 600px;
    width: 400px;
}
.button{
    border-radius: 50px;
    background-color: coral;
    color: white;
    width: 130px;
    height: 60px;
    margin: 20px
}
.values{
    height: 900px;
}
.box{
    background-color: lightcyan;
    /* height: 800px; */
    display: flex;
    justify-content: space-around;
}

.quality{
    height: 400px;
    width: 350px;
    border: 1px solid lightslategray;
    text-align: center;
    margin-top: 40px;
    border-radius: 12px;
    margin-left: 10px;
    padding: 50px;

}
#qlty{
    height: 90px;
    width: 70px;
}
.delivery{
    height: 450px;
    width: 350px;
    border: 1px solid lightslategray;
    text-align: center;
    margin-top: 100px;
    border-radius: 12px;
    margin-left: 10px;
    margin-bottom: 80px;
    padding: 50px;

}
#del{
    height: 90px;
    weight: 70px;
}
.meal{
    height: 400px;
    width: 350px;
    border: 1px solid lightslategray;
    text-align: center;
    margin-top: 40px;
    border-radius: 12px;
    margin-left: 10px;
    padding: 50px;

}
#fast{
    height: 90px;
    weight: 70px;
}
.Menu{
    height: 900px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    
}
.items{
    height: 450px;
    width: 300px;
    border: 1px solid maroon;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
}
.title{
    border: 1px solid green;
    display: flex;
}
#ttl{
    color: rgb(247,193,50);
    margin-left: 50px;
    /* margin-top: 200px; */
}
#burger1{
    height: 200px;
    width: 150px;
    /* justify-content: center; */
}
#burger2{
    height: 200px;
    width: 150px;
    /* justify-content: center; */
}
#burger3{
    height: 200px;
    width: 150px;
    /* justify-content: center; */
}
#burger4{
    height: 200px;
    width: 150px;
    /* justify-content: center; */
}
#burger5{
    height: 200px;
    width: 150px;
    /* justify-content: center; */
}
#burger6{
    height: 200px;
    width: 150px;
    /* justify-content: center; */
}
.discovermore{
    background-color: orange;
    height: 100vh;
}
.sitemap{
    background-color: lightcyan;
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
}
.slogo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slogo img{
    display: flex;    
    height: 50px;
    margin-top: 30px;
}
.slogo h1{
    margin-top: 40px;
    font-size: 1.5em;
}
.smap{
    text-align: center;
    
}
.smap h3{
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;

}
.smap ul{
    text-align: left;
    list-style: none;
    
}
.subscribe{
    
    display: inline;
    flex-direction: row;
    align-items: center;
}
.subscribe h4{
        font-size: 1.2em;
}
.subscribe-button{
    display: flex;
    
}
.subscribe-button input{
    height: 40%;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
}

.foot{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.footer p{
    font-size: 1em;
    text-align: left;
    margin-left: -100px;
    padding-left: -100%;   
    
}
.icons{    
    text-align: center;    
}
.footnote{
    text-align: right;
    
}